<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta charset="utf-8" />
    <title>주문 목록</title>
    <link href="/main.css" rel="stylesheet">
</head>
<body>

<div th:replace="~{nav.html :: navbar}"></div>

<div class="container">
    <h2>주문 목록</h2>

    <div class="card" th:each="i : ${sales}">
        <div class="card-content">
            <h4 th:text="${i.itemName}">상품명</h4>
            <p>가격: <span th:text="${i.price}">0</span> 원</p>
            <p>수량: <span th:text="${i.count}">0</span> 개</p>
            <p>
                구매자 ID:
                <span th:text="${i.member != null ? i.member.id : '알 수 없음'}">1</span>
            </p>
            <p>구매자 이름: <span th:text="${i.member.displayName}">0</span></p>
            <p>주문일: <span th:text="${i.created}">2024-01-01</span></p>
        </div>
    </div>


</div>

</body>
</html>
